body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  color: gray;
  font-weight: bold;
  font-size: 2em;
}

.flexible-container {
  display: flex;
  margin-bottom: 50px;
}
p {
  font-size: 15px;
  text-align: inherit;
  line-height: 2em;
}
.black {
  color: rgb(44, 42, 42);
}

.half-width {
  width: 50%;
  color: gray;
  padding: 30px;
}
.half-width .img-1 {
  width: 90%;
  height: 100%;
}

.orange {
  color: orange;
}
.linked-button {
  background-image: linear-gradient(to right, orange, tomato);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid tomato;
  box-shadow: 5px 3px 20px orange;
  color: white;
  font-weight: 700;
  position: relative;
  top: 30px;
}

#about {
  background-image: url(./img/7.png);
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
}
.half-width .img-2 {
  width: 300px;
  height: 420px;
  position: absolute;
  bottom: 0;
  margin-left: 150px;
  margin-top: 250px;
}
.alignment {
  margin-top: 100px;
  padding-left: 100px;
}
.recipie {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
.flex-item {
  width: 25%;
  border: 10px solid white;

  margin: 20px;
  padding: 5px;
  box-shadow: 5px 10px 30px gray;
  border-radius: 20px;
}
.flex-item img {
  width: 100%;
  text-align: center;
}
.justify {
  justify-content: center;
}
.social {
  width: 30%;
}
.shadow {
  box-shadow: 10px 10px 30px gray;
  margin: 0px 50px 0px 50px;
  padding: 30px 60px;
}
.bottom {
  height: 100px;
  background-color: black;
  padding: 50px;
  margin-top: 50px;
  color: white;
}
