body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  color: gray;
  font-weight: bold;
  font-size: 2em;
}

.flexible-container {
  display: flex;
  margin-bottom: 50px;
}
p {
  font-size: 15px;
  text-align: inherit;
  line-height: 2em;
}
.black {
  color: rgb(0, 0, 0);
}

.half-width {
  width: 50%;
  color: gray;
  padding: 30px;
}
.half-width .img-1 {
  width: 90%;
  height: 100%;
}

.orange {
  color: orange;
}
.linked-button {
  background-image: linear-gradient(to right, orange, tomato);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid tomato;
  box-shadow: 5px 3px 20px orange;
  color: white;
  font-weight: 700;
  position: relative;
  top: 30px;
}

#about {
  background-image: url(./img/7.png);
  background-repeat: no-repeat;
  position: relative;
  height: 80vh;
}
.half-width .img-2 {
  width: 300px;
  height: 420px;
  position: absolute;
  bottom: 0;
  margin-left: 150px;
  margin-top: 250px;
}
.alignment {
  margin-top: 100px;
  padding-left: 100px;
}
.recipie {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
.flex-item {
  width: 25%;
  border: 10px solid white;

  padding: 5px;
  box-shadow: 5px 10px 30px gray;
  border-radius: 20px;
}
.flex-item img {
  width: 100%;
  text-align: center;
}
.justify {
  justify-content: space-around;
}
.testimonial-box {
  width: 500px;
  padding: 30px;
  margin: 15px;
  border: 5px solid black;
  box-shadow: 10px 10px 15px gray;
  border-image: linear-gradient(to bottom, red, yellow) 1;
}
.name-user strong {
  color: black;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}
.name-user span {
  color: gray;
  font-size: 0.8rem;
  display: block;
}
.comment p {
  font-size: 0.9rem;
  text-align: justify;
}

.shadow {
  width: 80%;
  box-shadow: 5px 10px 30px gray;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 50px;
}
.bottom {
  height: 100px;
  background-color: black;
  padding: 50px;
  margin-top: 50px;
  color: white;
}
